

.dropdown-1-2{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.checkbox-42-22{
position: absolute;left: calc( ( ( 100% - 1440px) / 2 ) + 1049.0px); top: 456.0px; width: 33.19573974609375px; height: 14.289306640625px;}

.group-62-48{
position:absolute ;width: 698.4444580078125px; height: 54.219696044921875px;  background-color: rgba(0,0,0,0.0);top:37px; left: calc( ( ( 100% - 1440px) / 2 ) + 78px);background:''}

.text-62-49{
position: absolute;
border-radius: 2.0px;border:none;left: 100.88888549804688px;
 top: -0.32196044921875px;
 width: 597.3333129882812px;
 height: 54.219696044921875px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.vector-62-52{
position: absolute;left: 657.7777709960938px; top: 15.431900024414062px; width: 23.333343505859375px; height: 23.920455932617188}

.dropdown-62-56{
position: absolute;left: 0.22222900390625px; top: 0.32196044921875px; width: 104.22222137451172px; height: 54.219696044921875px;
}

.form-62-61{
position: absolute;left: calc( ( ( 100% - 1440px) / 2 ) + 337.0px); top: 165.0px; width: 422.0px; height: 527.0px;
}

.checkbox-65-82{
position: absolute;left: calc( ( ( 100% - 1440px) / 2 ) + 988.0px); top: 456.0px; width: 14.76190185546875px; height: 13.478256225585938px;}

.group-69-101{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:617px; left: calc( ( ( 100% - 1440px) / 2 ) + 958px);background:''}

.group-69-102{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-69-103{
position:absolute ;width: 410.0px; height: 28.0px;  background-color: rgba(249,250,251,1.0);top:0px; left: 0px;border-radius: 1.0px;box-shadow: 0.0px 0.0px 0.0px rgba(59, 130, 246, 0.25);background:''}

.vector-69-104{
position: absolute;left: 0.0px; top: 1.0px; width: 31.0px; height: 27.0}

.form-69-118{
position: absolute;left: 35.0px; top: 0.0px; width: 375.0px; height: 28.0px;
}

.vector-69-121{
position: absolute;left: 385.0px; top: 7.0px; width: 16.0px; height: 16.0}

.vector-137-8{
position: relative; width: 15.0px; height: 15.0}

.btn-137-5{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1253.0px;
 top: 103.0px;
 width: 85.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy; text-transform: uppercase; font-weight: 700;
}