<div class="dropdown-1-2" name="dropdown">
 <div class="checkbox-42-22">
  <lib-quick-toggle [config]="toggleconfig4222">
  </lib-quick-toggle>
 </div>
 <div class="group-62-48" name="Group">
  <input class="text-62-49" placeholder="Search Users here...." type="text"/>
  <img class="vector-62-52" src="assets/images/Modules/dropdown/vector-62_52.svg"/>
  <div class="dropdown-62-56">
   <lib-quick-select [config]="quickSelectConfig6256">
   </lib-quick-select>
  </div>
 </div>
 <div class="form-62-61">
  <lib-quick-ui [config]="formsConfig6261">
  </lib-quick-ui>
 </div>
 <div class="checkbox-65-82">
  <lib-quick-radiocheck [config]="checkboxconfig6582">
  </lib-quick-radiocheck>
 </div>
 <div class="group-69-101" name="Group">
  <div class="group-69-102" name="Group">
   <div class="group-69-103" name="Group">
    <img class="vector-69-104" src="assets/images/Modules/dropdown/vector-69_104.svg"/>
    <div class="form-69-118">
     <lib-quick-autocomplete [config]="formsConfig69118">
     </lib-quick-autocomplete>
    </div>
    <img class="vector-69-121" src="assets/images/Modules/dropdown/vector-69_121.svg"/>
   </div>
  </div>
 </div>
 <button class="btn-137-5" type="button">
  <img class="vector-137-8" src="assets/images/Modules/dropdown/vector-137_8.svg"/>
  print
 </button>
</div>
